<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljs.pingke.mapper.RolladMapper">

    <resultMap id="BaseResultMap" type="com.ljs.pingke.pojo.Rollad">
            <id property="imgId" column="img_id" jdbcType="INTEGER"/>
            <result property="imgSrc" column="img_src" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        img_id,img_src
    </sql>
</mapper>
